<main role="main" class="container mt-5">
    <div class="row justify-content-md-center">
        
        
        <form class="col-md-6" name="form" role="form" ng-submit="login()">
            <div class="form-group text-center">
                <img src="asset/img/logo.png" alt="" class="img img-responsive" style="width: 50%;">
            </div>
            <div ng-show="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                 {{error}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1" class="sr-only">Email address</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-user"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="username" placeholder="ชื่อผู้ใช้" ng-model="username">
                </div>


            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" class="sr-only">Password</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-key"></i>
                        </div>
                    </div>
                    <input type="password" class="form-control" id="password" placeholder="รหัสผ่าน" ng-model="password">
                </div>
            </div>
            
            <button type="submit" class="btn btn-info btn-flat btn-block">ลงชื่อเข้าใช้</button>
        </form>

    </div>
    
    <hr>
    
    <div class="row justify-content-md-center">

        <div class="col-md-6 alert alert-warning" role="alert">
            <h4 class="alert-heading">การเข้าใช้งาน</h4>
            <p>สมาชิกสามารถเข้าระบบโดยใช้ เลขบัตรประชาชนแทน่อผู้ใช้ และเลขบัตรประชาชนสี่หลักสุดท้ายแทนรหัสผ่าน ในการเข้าสู่ระบบ</p>
            <hr>
            <p class="mb-0">ผู้ใช้สามารถเปลี่ยนแปลงรหัสผ่านได้หลังจากเข้าสู่ระบบ ในเมนูตั้งค่า</p>
        </div>

    </div>



</main>
